# node_modules
# .next
# .turbo
# dist
# .env
# .env.local
# .env.*.local
# .vercel
# .DS_Store
# *.log

# # Prisma
# packages/db/prisma/dev.db

node_modules
**/node_modules
.next
**/.next

.env
.env.local
**/.env
**/.env.local

dist
build
.turbo
.vercel